body {
    /*overflow: hidden;*/
}

h1, h2 {
    text-align: center;
    color: #017572;
}

#destroy-session {
    display: none;
}

.setup-icon__container {
    position: absolute;
    display: flex;
    flex-direction: row;
    right: 20px;
    top: 225px;
}

.setup-icon__container .rule-btn {
    display: none;
}

.setting__container {
    margin-bottom: 70px;
}

.categorie__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    height: 220px;
    margin-top: -8px;
}

.categorie__container {
    width: 180px;
    margin: 0 40px 0;
}

.categorie__container .container {
    position: relative;
}

.categorie__container .container input {
    position: absolute;
    top: 50%;
    transform: translateY(-42%);
    width: 20px;
    left: -22px;
}

.setup__wrapper {
    display: flex;
    flex-direction: row;
    padding: 0 50px;
}

.setup__container {
    margin: 0 auto;
    width: 30%;
    padding: 0 20px;
}

.setup__container:first-child {
    height: 335px;
    overflow: hidden;
}

.setup__container:last-child {
    width: 50%;
    padding-right: 20px;
}

@media (max-width: 1250px) {
    .setup__container:last-child {
        font-size: 14px;
    }
}

@media (max-width: 800px) {
    .setup__container:last-child {
        display: none;
    }
    .setup-icon__container .rule-btn {
        display: block;
    }
}

@media (max-width: 1100px) {
    #categorie-filter {
        width: 150px;
    }

    .setup__container:nth-child(2) {
        width: 150px;
    }

    #categorie-filter .categorie__filter:nth-child(2), #categorie-filter .categorie__filter:nth-child(3) {
        flex-direction: column !important;
    }

    .categorie__filter:nth-child(2) input,.categorie__filter:nth-child(3) input {
        margin-bottom: 10px;
    }

    .categorie__filter:nth-child(2) .range-text__container, .categorie__filter:nth-child(3) .range-text__container {
        /*margin-left: 50px;*/
        margin-bottom: 20px;
    }
}

@media (max-width: 500px) {
    .setup__wrapper {
        padding: 0;
    }
    .setup__container .subline {
        display: none;
    }
    .setup-icon__container {
        flex-direction: column;
    }
}

.setup__setting-wrapper, .setup__setting-container {
    display: flex;
}

.setup__setting-container {
    flex-direction: column;
}

#categorie-filter {
    display: flex;
    flex-direction: column;
}

.categorie__filter {
    position: relative;
}

.categorie__filter b {
    margin-left: 25px;
}

.categorie__filter:nth-child(2), .categorie__filter:nth-child(3) {
    /*position: relative;*/
    display: flex;
    flex-direction: row;
    overflow: visible;
    margin-top: 10px;
}

.categorie__filter:nth-child(1) {
    height: 47px;
}

.categorie__filter:nth-child(1) input {
    top: 14px;
    margin-bottom: 10px;
}

.categorie__filter:nth-child(2) input, .categorie__filter:nth-child(3) input {
    position: relative !important;
    top: 0;
    transform: translateY(0);
}

.categorie__filter:nth-child(2) > span, .categorie__filter:nth-child(3) > span {
    margin-left: 15px;
    /*margin: -3px 0 0 10px;*/
    position: relative;
}

.categorie__filter input {
    position: absolute;
    top: 15px;
    transform: translateY(-50%);
    left: -15px;
}

.categorie__filter:nth-child(2) > span > span, .categorie__filter:nth-child(3) > span > span {
    position: absolute;
    width: 200px;
    left: -25px;
    top: -3px;
}

.categorie__container {
    margin: 0;
}

#setup-btn {
    display: block;
    position: absolute;
    top: 600px;
    width: 350px;
    margin-left: 10%;
    margin-bottom: 50px;
    border-radius: 10px;
}

.content__container-article {
    position: relative;
    height: 0;
    overflow: hidden;
    text-align: center;
}

.activate-first-challenge + .content__container-article {
    height: 100%;
}

.content__container-article.active {
    height: 100vh;
    overflow: hidden;
    margin: 0 auto;
    padding: 40px;
    border-left: 10px solid black;
    border-right: 10px solid black;
}
.content__container-article.active .end-rule.active-endrule {
    position: absolute;
    height: auto;
    width: 80%;
    transform: translateX(-50%);
    left: 50%;
    background: white;
    padding: 20px;
    top: 40%;
}

.content__container-article.active .end-rule.active-endrule .end-rule-btn {
    display: inline-block;
}

.end-rule-btn {
    display: none;
}

#continue {
    position: fixed;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.current-id {
    display: none;
}

#datasheet {
    display: none;
}

.truth-text, .dare-text {
    display: none;
}

#player-number, .player-names {
    margin-bottom: 10px;
}

span.categorie {
    display: none;
}

.content__container-article h1 {
    font-size: 76px;
    line-height: 95px;
    font-weight: bold;
    color: #111;
}

@media (max-width: 800px) {
    .content__container-article h1 {
        font-size: 62px;
        line-height: 76px;
    }

    #setup-btn {
        margin: 0 auto;
        position: relative;
        top: 20px;
    }
}

@media (max-width: 400px) {
    #setup-btn {
        width: 200px;
    }
}



/*@media (max-width: 500px) {*/
/*    h1 {*/
/*        font-size: 34px;*/
/*        line-height: 43px;*/
/*    }*/
/*}*/

.truth, .dare {
    border-radius: 10px;
}

.content__container-article ul {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    list-style: square;
    width: 350px;
}

@media (max-width: 800px) {
    .content__container-article ul {
        /*margin-left: 50px;*/
        width: 80%;
    }
}

.content__container-article li {
    text-align: left;
    width: 400px;
}

.content__container-article p, .content__container-article li {
    font-size: 36px;
    line-height: 45px;
    font-weight: bold;
    color: #111;
}

@media (max-width: 800px) {
    .content__container-article p, .content__container-article li {
        font-size: 22px;
        line-height: 36px;
    }
}

.content__container-article div {
    font-weight: bold;
}

button {
    margin-bottom: 10px;
}

.punishments__container {
    margin: 0;
}

.punishments__intro-text {
    margin-bottom: 1em;
}

.icon__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 130px;
}

.punishment-btn, .game-descriptions-btn, .rule-btn, .re-new-btn {
    font-size: 30px;
    border: none;
    background: none;
    width: 40px;
    height: 40px;
    color: #111;
    outline: none;
}

.punishment-btn:hover, .game-descriptions-btn:hover, .rule-btn:hover, .re-new-btn:hover,
.punishment-btn:active, .game-descriptions-btn:active, .rule-btn:active, .re-new-btn:active,
.punishment-btn:focus, .game-descriptions-btn:focus, .rule-btn:focus, .re-new-btn:focus,
.punishment-btn:visited, .game-descriptions-btn:visited, .rule-btn:visited, .re-new-btn:visited {
    border: none;
    background: none !important;
    color: #111;
}

.show-rules, .show-punishment, .show-more-infos {
    display: flex !important;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    max-width: 300px;
    height: auto;
    background: white;
    padding: 40px;
    z-index: 1000;
    color: #666666;
}

.show-more-infos {
    max-height: 400px;
    overflow-y: scroll;
}

.show-punishment .subline {
    text-transform: uppercase;
}

#close-punishment {
    width: 100px;
    margin: 20px auto 0;
}

.show-punishment {
    text-align: center;
}

#setup__container--rules, #display-punishment__container, #display-info__container {
    display: none;
}

#close-rules, #close-infos {
    margin-top: 20px;
    display: none;
}

#menu-item-197, #menu-item-198 {
    pointer-events: none;
}

#setup__container--rules-out-of-game .subline button {
    left: -23px;
}

.subline {
    position: relative;
}

.subline button {
    padding: 0;
    margin: 0 0 0;
    position: absolute;
    top: -13px;
    width: 20px;
    height: 20px;
    left: -20px;
}

.subline button svg {
    width: 20px;
    height: 20px;
}

.display-infos__container {
    border-bottom: 1px solid #3a3a3a;
    cursor: pointer;
}

.display-infos__container:first-child {
    border-top: 1px solid #3a3a3a;
}

.display-infos__headline {
    margin: 5px 0 0 0;
}

.display-infos__container.accordion__dropdown--active .display-infos__text {
    max-height: 100%;
}

.display-infos__text {
    max-height: 0;
    overflow-y: hidden;
    margin: 0 0 5px 0;
}